/* CSS Document */
header {
	position: fixed;
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color: rgba(255,255,255,0.95);
	width: 100%;
	z-index: 1;
	padding: 0;
	top: 0;
}
header .logo{
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: rgba(46,46,46,1.00);
	padding: 0px;
	margin: 0 0 0 2rem;
}
header .logo .colmar{
	margin-top: 0;
	margin-bottom: 0;
}
header div {
	display: flex;
	flex-flow: row;
}

header img {
	width: 2.5rem;
	height: auto;
	padding: 0;
}
header .logo span{
	font-weight: 400;
	color: gray;
}
header ul{
	display: flex;
	justify-content: space-between;
	margin-left: 1rem;
}
header li{
	margin-left: 1rem;
	font-size: 1rem;
	font-weight: 400;
}
header .head-opt{
	margin-right: 2rem;
}

body{
	display: inline-flex;
	font-family: 'Montserrat', sans-serif;
	flex-flow: column;
	margin: 0px;
	width: 100%;
	}

/*---Content section---*/
.contenido{
	display: flex;
	flex-flow: column;
	margin-top: 5rem;
	width: 100%;
}

/*---Intro section---*/
.intro-section{
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	/*background-color: rgba(224,224,224,1);*/
	background-color: rgb(232,232,232);
	color: rgb(234,234,234);
	align-items: center;
	padding: 2rem 0 2rem 1.5rem;
	justify-content: flex-start;
	/*flex-basis: 60%;*/
}
.intro-section .col-1{
	display: flex;
	max-width: 60%;
}
.intro-section img{
	width: 100%;
}
.intro-section .col-2{
	display: flex;
	flex-flow: column;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.button{
	color: white;
	background-color:rgba(46,46,46,1.00);
	padding: 1rem 0 1rem 0;
	text-align: center;
	margin-top: 1rem;
	font-size: 1.4rem;
	font-weight: 500;
}
/*---Fonts---*/
h1,h2,h3,h4{
	color: rgba(60,60,60,1.00);
}
h1{
	font-size: 2rem;
}
h2{
	font-size: 1.8rem;
	
}
h3{
	font-size: 1.4rem;
}
h4{
	font-weight: 400;
	font-size: 0.8rem;
}
p{
	font-size: 0.8rem;
	color: rgba(60,60,60,1.00);
	font-weight: 600;
}

/*---About us section---*/
.about-us{	
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	align-items: stretch;
	background-color: rgba(240,240,240,1.00);
	padding-left: 1.5rem;
}
.about-intro{
	display: flex;
	flex-direction: column;
	width: 60%;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}
.about-intro h2 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}
.about-intro h3{
	padding-bottom: 2rem;
}
.about-intro p {
	font-weight: 100;
	margin-bottom: 2rem;
}
.about-info{
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	border-style: solid;
	border-width: medium;
	border-color: rgb(224,224,224);
	border-bottom: none;
	border-right: none;
	border-top: none;
	margin-left: 1.5rem;
}
.about-info2 {
	display: flex;
	flex-flow: column;
	flex-basis: 40%;
}

.info-item{
	display: flex;
	flex-flow: row;
	border-color: rgb(224,224,224);
	border-style: solid;
	border-width: thin;
	border-left: none;
	padding: 0;
	justify-content: flex-start;
	margin-bottom: 0.2rem;
	align-items: center;
	overflow: visible;
}


.info-description{
	display: flex;
	flex-flow: column;
	justify-content: center;
	flex-wrap: nowrap;
}

.info-item h3,h4{
	display: flex;
	flex-wrap: wrap;
}
.info-item h4, .about-intro p{
	font-weight: 400;
}
.info-item img{
	width: 35%;
	padding: 1rem;
}
/*---Start learning section---*/
.start-learning{
	display: flex;
	flex-flow: column;
	background-color: rgba(231,231,231,1.00);
	text-align: center;
}
.start-learning h2 {
	margin-top: 2rem;
	margin-bottom: 0;
}

.start-learning .career-global{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem 4.5rem;
}

.start-learning .career {
	display: flex;
	flex-flow: column;
	align-content: space-evenly;
	text-align: left;
	margin: 0 1rem 1rem 0;
	max-width: 30%;
	overflow: hidden;
	background-color: rgba(248,248,248,1.00);
}
.start-learning .career img {
	position: relative;
	top: 0;
}
.start-learning .career h3{
	margin: 1rem 0 0 1rem;
	font-size: 1rem;
	color: rgba(60,60,60,1.00);
}

.start-learning .career p{
	font-weight: 400;
	font-size: 0.7rem;
	margin: 0.5rem 0.5rem 0.5rem 1rem;
	color: rgba(60,60,60,1.00);
}
/*---Thesis section---*/
.thesis {
	display: flex;
	flex-flow: column;
	text-align: center;
}
.thesis h2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.thesis-content {
	display: flex;
	flex-flow: nowrap;
	flex-flow: row;
	padding: 0 1.5rem 1rem 1.5rem;
}
.thesis-intro{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 2rem;
	max-width: 60%;
}
.thesis-intro video{
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
	width: 100%;
}
.thesis h3 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
.thesis-intro p{
	font-weight: 400;
	color: rgba(60,60,60,1.00);
	text-align: left;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.thesis-info {
	display: flex;
	flex-flow: column;
	max-width: 40%;
	justify-items: flex-start;
	align-items: flex-start;
	margin-left: 1.5rem;
	margin-bottom: 2rem;
}
.thesis-info img{
	width: 35%;
	padding: 1rem;
	justify-content: center;
} 
.thesis-info2{
	display: flex;
	flex-flow: row;
	align-items: center;
	text-align: left;
	width: 100%;
}
/*---Footer Section---*/
footer{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 1rem 1rem 0 1.5rem;
	font-size: 0.7rem;
}
footer .footer-terms{
	display: flex;
	flex-flow: row;
	flex-basis: 100%;
	justify-content: space-between;
	border-style: solid;
	border-width: thin;
	border-color: rgba(231,231,231,1.00);
	border-bottom: none;
	border-left: none;
	border-right: none;
	align-items: baseline;
	
}
footer ul{
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
}

footer ul li {
	display: flex;
	flex-flow: row;
	margin-left: 1rem;
}
/*---Media for responsive---*/
@media only screen and (max-width: 1050px){
	.intro-section{
		flex-flow: column;
		margin:0;
		padding: 0;
	}
	.about-us{
		padding: 0;
		flex-flow: column;
	}
	.intro-section .col-1{
		max-width:100%;
	}
	.intro-section .col-2{
		padding: 2rem 1rem;
	}
	.intro-section .button{
		background-color: rgba(171,171,171,1.00);
		color: white;
	}
	.about-us .about-info{
		margin: 0;
		border: none;
		padding: 0;
	}
	.about-info .about-info2, .about-info .info-item{
		flex-flow: column;
		width: 100%;
	}
	.info-item img{
		width: 100%;
		padding: 0;
	}
	.about-info .info-item{
		border: none;
		align-items: flex-start;
	}
	.about-us .about-intro, .logo .big-logo, .colmar, .head-opt{
		display: none;		
	} 
	header .logo {
		margin: 0;
		width: 100%;
	}
	header .logo .icons-mobile{
		width: 100%;
		justify-content: space-around;
		height: 4rem;
	}
	.contenido {
		margin-top: 4rem;
	}
	.about-info2 .info-item{
		display: none;
		margin-bottom: 4rem;;
	}
	.about-info .info-item {
		margin-bottom: 4rem;
	}
	.about-us{
		padding: 1rem 1rem 2rem 1rem;
	}
	.start-learning .career-global{
		flex-flow: column;
		flex-wrap: nowrap;
		margin: 0;
	}
	.career img{
		display: none;
	}
	.career p{
		display: none;
	}
	.start-learning h2{
		border-top: rgb(232,232,232);
		border-top-style: solid;
		border-width: thin;
		padding: 2rem 0 1rem 0;
		margin: 0;
	}
	.start-learning .career{
		max-width: 100%;
		margin: 0 1rem 0.5rem 1rem;
		background-color: rgb(232,232,232);
	}
	.start-learning .career h3{
		margin: 1rem 1rem 1.5rem 1rem;
	}
	.thesis, .start-learning, footer {
		background-color: rgba(240,240,240,1.00);
	}
	.thesis h2{
		margin: 0%;
		padding: 2rem 0 1rem 0;
		border-top-style: solid;
		border-color: rgb(232,232,232);
		border-width: thin;
	}
	.thesis-info, .thesis-intro h3, .thesis-intro p{
		display: none;
	}
	.thesis-intro {
		max-width: 100%;
		padding-bottom: 1.5rem;
	}
	.thesis-intro video, .thesis-content {
		padding: 0;
	}
	footer {
		margin: 0;
		padding: 1rem;
	}
	footer .footer-terms{
		border-style: none;
	}
}
@media only screen and (min-width: 1050px){
/*---Transitions---*/
	.info-item:hover, .thesis-info2:hover, .intro-section:hover{
	background-color: rgba(231,231,231,1.00);
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
	.icons-mobile {
		display: none;
	}
	.about-infomb .about-infom2{
		display: none;
	}
}
